{% extends 'base.html' %}
{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
    
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body{
        font-family: Arial, sans-serif;
        /* border: 2px solid red; */
    }
    
    
    #apple_nav{
        /* border: 2px solid magenta; */
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        flex-flow: row;
        /* padding: 8px 13px; */
    }
    
    #apple_nav .apple{
        border: 3px solid #f0f0f0;
        font-family: Arial, sans-serif;
        /* margin: 0px 10px; */
        font-size: 13px;
        padding: 8px 13px;
        
    }
    
    #apple_nav #a1{
        margin-left: 10px;
        font-size: 16px;
    }
    
    #apple_nav #a1:hover{
        cursor: pointer;
        border-bottom: 3px solid #0067c1;
        color: #0c8eff;
    }
    
    #apple_nav #a2:hover{
        cursor: pointer;
        border-bottom: 3px solid #0067c1;
        color: #0c8eff;
    }
    
    #apple_nav #a3:hover{
        cursor: pointer;
        border-bottom: 3px solid #0067c1;
        color: #0c8eff;
    }

    #apple_nav #a4:hover{
        cursor: pointer;
        border-bottom: 3px solid #0067c1;
        color: #0c8eff;
    }
    
    #apple_nav #a5:hover{
        cursor: pointer;
        border-bottom: 3px solid #0067c1;
        color: #0c8eff;
    }
    
    #apple_nav #a6:hover{
        cursor: pointer;
        border-bottom: 3px solid #0067c1;
        color: #0c8eff;
    }
    
    #apple_nav #a7:hover{
        cursor: pointer;
        border-bottom: 3px solid #0067c1;
        color: #0c8eff;
    }

    #apple_nav #a8:hover{
        cursor: pointer;
        border-bottom: 3px solid #0067c1;
        color: #0c8eff;
    }
    
    #apple_nav #a9:hover{
        cursor: pointer;
        border-bottom: 3px solid #0067c1;
        color: #0c8eff;
    }

    #apple_nav #a10:hover{
        cursor: pointer;
        border-bottom: 3px solid #0067c1;
        color: #0c8eff;
    }
    
    #apple_nav #a11:hover{
        cursor: pointer;
        border-bottom: 3px solid #0067c1;
        color: #0c8eff;
    }
    
    #data{
        /* border: 2px solid darkgreen; */
        padding: 20px 30px;
    }
    
    #data #b1{
        /* border: 2px solid indianred; */
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-flow: row;
    }
    
    #data #b1 img{
        /* border: 2px solid black;     */
        height: 111px;
        width: 111px;
        border-radius: 5px;
    }
    
    #data #b1 #o5 img{
        /* height: 90px; */
        width: 150px;
    }
    
    #data #b1 .obj{
        /* border: 2px solid orange; */
        background-color: white;
        margin: 10px 0px;
        border-radius: 5px;
        
    }
    
    #data #b1 .obj:hover{
        cursor: pointer;
    }
    
    #o1 b{
        font-family: Arial, sans-serif;
        /* border: 2px solid yellow; */
        font-size: 45px;
        /* margin-left: 100px; */
    }
    
    #o2{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    #o2 .d1{
        /* border: 2px solid green; */
        border-radius: 5px;
        
    }
    
    #o2 .d2{
        /* border: 2px solid blue; */
        color: #0074D9;
        font-size: 17px;
        margin: 7px 10px;
    }
    
    #o2 .d2:hover{
        color: #D84315;
    }
    
    #o3{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    #o3 .d1{
        /* border: 2px solid green; */
        border-radius: 5px;
        
    }
    
    #o3 .d2{
        /* border: 2px solid blue; */
        color: #0074D9;
        font-size: 17px;
        margin: 7px 10px;
    }
    
    #o3 .d2:hover{
        color: #D84315;
    }
    
    #o4{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    #o4 .d1{
        /* border: 2px solid green; */
        border-radius: 5px;
        
    }
    
    #o4 .d2{
        /* border: 2px solid blue; */
        color: #0074D9;
        font-size: 17px;
        margin: 7px 10px;
    }
    
    #o4 .d2:hover{
        color: #D84315;
    }
    
    #o5{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    #o5 .d1{
        /* border: 2px solid green; */
        border-radius: 5px;
        
    }
    
    #o5 .d2{
        /* border: 2px solid blue; */
        color: #0074D9;
        font-size: 17px;
        margin: 7px 10px;
    }
    
    #o5 .d2:hover{
        color: #D84315;
    }
    
    #o6{
        display: flex;
        
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    #o6 .d1{
        /* border: 2px solid green; */
        border-radius: 5px;

    }

    #o6 .d2{
        /* border: 2px solid blue; */
        color: #0074D9;
        font-size: 17px;
        margin: 7px 10px;
    }

    #o6 .d2:hover{
        color: #D84315;
    }

    #o7{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    #o7 .d1{
        /* border: 2px solid green; */
        border-radius: 5px;

    }

    #o7 .d2{
        /* border: 2px solid blue; */
        color: #0074D9;
        font-size: 17px;
        margin: 7px 10px;
    }

    #o7 .d2:hover{
        color: #D84315;
    }

    #o8{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    #o8 .d1{
        /* border: 2px solid green; */
        border-radius: 5px;

    }

    #o8 .d2{
        /* border: 2px solid blue; */
        color: #0074D9;
        font-size: 17px;
        margin: 7px 10px;
    }

    #o8 .d2:hover{
        color: #D84315;
    }

    #data1{
        /* border: 2px solid black; */
        display: flex;
        /* align-items: center;
        justify-content: space-between; */
        flex-flow: row;
        margin: 0px 30px;
        padding-top: 20px;
        /* padding-bottom: 20px; */
    }

    #img{
        /* border: 2px solid orchid; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #img img{
        /* border: 2px solid blue; */
        height: 700px;
        width: 700px;
    }

    #des{
        border-bottom: 2px solid #9d9d9d;
        /* border: 2px solid green; */
        /* width: 5000px; */
        margin-left: 30px;
        /* width: 10000000px; */
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    #des .info{
        /* border: 2px solid yellow; */
        font-weight: bold;
        font-size: 32px;
        text-align: justify;
    }

    #des .visit{
        /* border: 2px solid blue; */
        color: #0067c1;
        font-size: 19px;
        /* font-weight: bold; */
        padding: 0px 0px;
    }

    #des #stars{
        /* border: 2px solid green; */
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-flow: row;
    }
    
    #des .decimal{
        /* border: 2px solid orangered; */
        font-size: 18px;
        margin: 0px 3px 0px 0px;
    }

    #des #stars .filled{
        /* border: 2px solid magenta; */
        /* padding: none; */
        color: #F57C00;
        font-weight: bold;
        font-size: 25px;
        margin: 0px 0px;
        margin-bottom: 6px;
    }

    #des #stars .unfilled{
        /* border: 2px solid maroon; */
        color: #F57C00;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 6px;
    }

    #des #stars .rate{
        /* border: 2px solid black; */
        color: #0067c1;
        font-size: 19px;
        margin-left: 10px;
    }

    #des #stars .rate:hover{
        cursor: pointer;
    }

    #des .d{
        /* border: 2px solid red; */
        border-top: 2px solid #9d9d9d;
        border-bottom: 2px solid #9d9d9d;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-flow: column;
        font-size: 17px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
    }

    #des .d span{
        color: green;
        font-weight: bold;
        font-size: 22px;
    }

    #des .p_info{
        border-bottom: 2px solid #9d9d9d;
        margin-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    #des .p_info tr th{
        /* border: 2px solid green; */
        font-size: 18px;
        /* width: 50px; */
        padding-right: 80px;
        /* width: -5px; */
        /* margin: 10px 0px; */
    }
    
    #des .p_info tr td{
        /* border: 2px solid red; */
        font-size: 16px;
        /* width: 50px; */
        /* padding-right: 80px; */
        width: 200px;
    }

    #des .ati b{
        /* border: 2px solid red; */
        font-size: 18px;
        /* margin: 0px 0px 5px 0px; */
    }
    
    #des .ati p{
        /* border: 2px solid green; */
        font-size: 16px;
        margin: 5px 0px;
    }

    #wl{
        border-bottom: 2px solid #9d9d9d;
        /* border: 2px solid red; */
        padding-left: 30px;
        width: 450px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    #db{
        border: 1px solid #9d9d9d;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    #db .check{
        /* font-family: "Comfortaa", sans-serif; */
        /* border: 2px solid red; */
        color: darkred;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
    }   

    #db p{
        font-family: Arial, sans-serif;
        /* border: 2px solid yellow; */
        text-align: center;
        font-size: 15px;
        margin: 8px 0px;
    }

    #db span{
        font-family: Arial, sans-serif;
        /* border: 2px solid greenyellow; */
        text-align: center;
        font-size: 14px;
        color: #0067c1;
    }

    #db .box{
        font-family: Arial, sans-serif;
        /* border: 2px solid magenta; */
        text-align: center;
        font-size: 15px;
        height: 30px;
        width: 231px;
        border-bottom: 1px solid #9d9d9d;
    }

    #db .wish{
        font-family: Arial, sans-serif;
        border: 2px solid #666666;
        text-align: center;
        font-size: 15px;
        margin-top: 15px;
        width: 231px;
        border-radius: 5px;
        padding: 7px 0px;
    }

    #db .wish:hover{
        cursor: pointer;
        background-color: #f0f0f0;
    }

    #data2{
        /* border: 2px solid blue; */
        margin: 20px 30px;
        /* padding-bottom: 20px; */
        margin-bottom: 25px;
    }

    #data2 .upside{
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        /* justify-content: center; */
        margin-bottom: 20px;
    }

    #data2 .slant-box{
        font-family: Arial, sans-serif;
        background-color: #505050;
        color: white;
        clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
        width: 150px;
        height: 40px;
        font-size: 16px;
        /* font-weight: bold; */
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #data2 span{
        font-size: 30px;
        font-weight: bold;
        margin-left: 5px;
    }

    #data2 .data{
        border-bottom: 2px solid #9d9d9d;
        padding-bottom: 25px;
    }
    
    #data2 .data .sec1{
        /* border: 2px solid green; */
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-flow: row;
        /* padding: 0px 20px; */

    }

    #data2 .data .sec2{
        /* border: 2px solid blue; */
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-flow: row;
        margin-top: 5px;
    }

    #data2 .data .sec3{
        /* border: 2px solid magenta; */
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-flow: row;
        margin-top: 5px;
    }

    #data2 .data .tick-outline{
        width: 25px;
        height: 25px;
        border: 3px solid #1ac300; 
        color: #1ac300;            
        border-radius: 50%;       
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;
        margin-right: 8px;
    }

    #bottom{
        /* border: 2px solid blue; */
        background-color: red;
        color: white;
        margin: 20px 20px;
        text-align: center;
        padding: 30px;
        font-size: 50px;
    }

    /* Add these new styles for product display */
    .product-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .product-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 30px;
    }
    
    .product-image {
        text-align: center;
    }
    
    .product-image img {
        max-width: 100%;
        border-radius: 5px;
    }
    
    .product-title {
        font-size: 24px;
        color: #232f3e;
        margin-bottom: 10px;
    }
    
    .product-brand {
        color: #0066c0;
        margin-bottom: 10px;
    }
    
    .price-display {
        color: #B12704;
        font-size: 18px;
        font-weight: bold;
        margin: 15px 0;
    }
    
    .price-inr {
        margin-right: 10px;
    }
    
    .price-usd {
        font-size: 14px;
        color: #555;
    }
    
    .product-tabs {
        border-bottom: 1px solid #ddd;
        margin: 30px 0 20px;
    }
    
    .tab-button {
        background: none;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .tab-button.active {
        color: #232f3e;
        border-bottom: 2px solid #232f3e;
    }
    
    .tab-content {
        display: none;
        padding: 20px 0;
    }
    
    .tab-content.active {
        display: block;
    }
    
    .related-products {
        margin-top: 40px;
    }
    
    .related-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }
    
    .related-item {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
    }
    
    .related-item img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    @media (max-width: 768px) {
        .product-main {
            grid-template-columns: 1fr;
        }
    }
</style>

{% if has_product %}
<!-- Product description section -->
<div class="product-container">
    <div class="product-main">
        <!-- Product image -->
        <div class="product-image">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <div style="height:300px;background:#f0f0f0;display:flex;align-items:center;justify-content:center;">
                    No Image Available
                </div>
            {% endif %}
        </div>
        
        <!-- Product info -->
        <div class="product-info">
            <h1 class="product-title">{{ product.name }}</h1>
            
            {% if product.brand %}
                <div class="product-brand">Brand: {{ product.brand }}</div>
            {% endif %}
            
            <div class="price-display">
                <span class="price-inr">₹{{ product.price_inr|floatformat:2 }}</span>
                <span class="price-usd">${{ product.price }}</span>
            </div>
            
            <div class="product-description">
                {{ product.description|linebreaks }}
            </div>
            
            <!-- Add to cart form -->
            <form method="POST" action="#">
                {% csrf_token %}
                <div style="margin-bottom:15px;">
                    <label for="quantity">Quantity:</label>
                    <select name="quantity" id="quantity" style="padding:5px;width:60px;">
                        {% for i in "12345" %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" style="background:#FFD814;width:100%;padding:8px 0;border:none;border-radius:4px;cursor:pointer;">
                    Add to Cart
                </button>
            </form>
        </div>
    </div>
    
    <!-- Tabs section -->
    <div class="product-tabs">
        <button class="tab-button active" onclick="openTab(event, 'details')">Details</button>
        <button class="tab-button" onclick="openTab(event, 'specs')">Specifications</button>
    </div>
    
    <div id="details" class="tab-content active">
        <h3>Product Details</h3>
        <p>{{ product.description }}</p>
        {% if product.feature %}
            <h4>Features</h4>
            <p>{{ product.feature }}</p>
        {% endif %}
    </div>
    
    <div id="specs" class="tab-content">
        <h3>Specifications</h3>
        <table style="width:100%;border-collapse:collapse;">
            <tbody>
                {% for spec in specifications %}
                <tr>
                    <th style="text-align:left;padding:8px;border-bottom:1px solid #ddd;width:200px;">{{ spec.name }}</th>
                    <td style="text-align:left;padding:8px;border-bottom:1px solid #ddd;">{{ spec.value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Related products -->
    {% if related_products %}
    <div class="related-products">
        <h2>Related Products</h2>
        <div class="related-grid">
            {% for related in related_products %}
            <div class="related-item">
                <a href="{% url 'product' related.id %}" style="text-decoration:none;color:inherit;">
                    {% if related.image %}
                    <img src="{{ related.image.url }}" alt="{{ related.name }}">
                    {% else %}
                    <div style="height:150px;background:#f0f0f0;display:flex;align-items:center;justify-content:center;">No Image</div>
                    {% endif %}
                    <h3 style="font-size:14px;margin:10px 0 5px;">{{ related.name }}</h3>
                    <p style="color:#B12704;margin:0;">₹{{ related.price_inr|floatformat:2 }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

<script>
function openTab(evt, tabName) {
    var i, tabcontent, tabbuttons;
    
    // Hide all tab content
    tabcontent = document.getElementsByClassName("tab-content");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    
    // Remove "active" class from all tab buttons
    tabbuttons = document.getElementsByClassName("tab-button");
    for (i = 0; i < tabbuttons.length; i++) {
        tabbuttons[i].className = tabbuttons[i].className.replace(" active", "");
    }
    
    // Show the current tab and add "active" class to the button
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
{% else %}
<!-- Your existing description page content -->
<div id="apple_nav">
    <!-- Keep your existing content -->
    <!-- ... -->
</div>

<div id="data">
    <!-- Keep your existing content -->
    <!-- ... -->
</div>
{% endif %}

{% endblock %}